{
  "presets": [
    "react",
    "env",
    "stage-0"
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ],
      "plugins": [
        "transform-inline-environment-variables"
      ]
    }
  }
}